<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sign-in.css">
    <title>Document</title>
</head>
<body>

    
<div class="navbar"><div class="logo"><a href="/home"><img id='logo' src='logo.jpg'></a></div>
<div class="buttons">
<div class="quotes-button"><a href="/home"><input type="button" id="quotes-button" value="Make Your Own Quotes"/></a></div>
<div class="sign-in"><a href=""><input type='button' name="sign-in" value='Sign In'/></a></div>
<div class="sign-up"><a href="/sign-up"><input type='button' name="sign-up" value='Sign-Up'></a></div>
</div>
</div>

<div class="main">
    <div class="sign-git"><input type="button" value="Sign in with GitHub" id="signgit"></div>
    <form action="/user-in" method="post">
    <label for="username"><b>Username</b><input id="username" name="uname" type="email" placeholder="Username-Email" required/></label>
    <label for="passwd"><b>Password</b><input id="passwd" name="pwd" type="password" min="4"/></label>
    <label for="cb">

        <div><input type="checkbox" id="cb"/></div>
        <div><span><b>Keep me siged in</b></span></div>
        
        
    </label>
    <div class="enter"><input type='submit' name="sign-in" value='Sign In' id="enter"/></div>

    </form>
    <div class="for-pass"><a href="" id="for-pass">Forgot your password?</a></div>
</div>

    
   
</div>
<div class="border-bottom">
    <div class="git"><a href="https://github.com/ameenanwar"><img src="github.jpg" class='git-icon'></a></div>
    <div class="f1">© Copyright 2025 Grato.</div>
    <div class='f2'><a href="">About Grato</a></div>
</div>

   
    
    
</body>
</html>