<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    
<div class="navbar"><div class="logo"><a href="/home"><img id='logo' src='logo.jpg'></a></div>
<div class="buttons">
<div class="sign-in"><a href="/sign-in"><input type='button' name="sign-in" value='Sign In'></a></div><div class="sign-up"><a href="/sign-up"><input type='button' name="sign-up" value='Sign-Up'></a></div>
</div>
</div>

<div class="main">
    <div class="text1">Like grato? You'll ❤️ Grato Pro! <a href="https://quozio.com/get-quozio-pro?ref=IXH">Check it out.</a></div>
    <form action="/submit-quote" method="POST">
    <div class="textarea"><center><textarea  rows="5" cols="46" name="quoteText" placeholder="Enter your quote..." required ></textarea></center></div>
    <div class="author"><center><input name="author" type="text" placeholder="Who said it? (Optional)"/></center></div>
    <div><center><input type='submit' name='submit' value="Create Quote"/></center></div>
    </form>
    <div class="text2">💡 Need some inspiration? <a href="">Try a random quote.</a></div>
    <div class="text3">Grato is the fastest way to create quotes to save and share. Making beautiful quotes just became easy! Try it yourself to see why millions choose Quozio as their favorite quote maker. It's free! <a href>Learn more about Grato.</a></div>
    <div>
        <img src="quote1.jpg">
        <img src="quote2.jpg">
        <img src="quote3.jpg">
    </div>
    
</div>
<div class="border-bottom">
    <div class="git"><a href="https://github.com/ameenanwar"><img src="github.jpg" class='git-icon'></a></div>
    <div class="f1">© Copyright 2025 Grato.</div>
    <div class='f2'><a href="">About Grato</a></div>
</div>

   
    
    
</body>
</html>